 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: #ffffff;
     width: 100%;
 }

 .ul ul {
     display: flex;
     list-style: none;
     column-gap: 30px;
     width: 109%;
 }

 .nav-list li {
     display: flex;
     align-items: center;
     cursor: pointer;
     width: 100%;
 }

 .image img {
     width: 184px;
 }

 /* GRID BOX */
 .section {
     max-width: 60vw;
     margin: auto;
 }

 .downloadheader {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 30px;
     column-gap: 20px;
 }

 .logo {
     height: 65px;
     width: 65px;
 }

 .title {
     font-size: 1.5em;
     font-weight: 350;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #000;
     /* display: inline; */
 }

 .version-info {
     font-size: 0.6em;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

 .grid-container {
     display: grid;
     grid-template-columns: repeat(3, 33%);
     gap: 30px 30px;
     /* width: 100%;
            min-height: 100vh; */
     justify-content: center;
     margin-top: 10px;
     /* max-width: 1200px; */
 }

 .item {
     font-family: 'Open Sans', Arial, sans-serif;
     background-color: #f3f3f3;
     text-align: center;
     height: 30vh;
     font-size: 1.6em;
     font-weight: 600;
 }

 .item-lang {
     font-size: 0.9em;
     text-align: center;
     margin-top: 30px;
 }

 .bit {
     display: inline-flex;
     width: 45%;
     height: 15%;
     justify-content: center;
     margin-top: 60px;
     text-decoration: none;
 }

 .b32 {
     background-color: #5cb85c;
     color: #ffffff;
     border: none;
     font-size: 0.5em;
     font-weight: bold;
     border-radius: 5px;
     cursor: pointer;
 }

 .b64 {
     background-color: #00b6d1;
     color: #ffffff;
     font-weight: bold;
     font-size: 0.5em;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 /* Main section */
 .main {
     /* display: flex;
            justify-content: center;
            align-items: center; */

     text-align: center;
     margin-top: 50px;

     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .header {
     font-size: 3em;
     margin-right: 20px;
 }

 .para {
     font-size: 1.5em;
     width: 70vw;
     margin: auto;
     margin-top: 30px;
     text-align: center;

 }

 .btn button {
     background-color: #00b6d1;
     margin-top: 30px;
     margin-bottom: 40px;
     padding: 15px;
     color: #f3f3f3;
     border: none;
     border-radius: 5px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-transform: uppercase;
     font-weight: bold;
 }

 @media (max-width: 1024px) {
     .grid-container {
         grid-template-columns: repeat(2, 1fr);
     }
 }

 @media only screen and (max-width: 450px) {
     .grid-container {
         grid-template-columns: 1fr;
     }

     .item {
         width: 70%;
         margin: auto;
         height: 20vh;
     }

     .ul ul {
         flex-direction: column;
     }

     .image {
         width: 70%;
     }

     .image img {
         width: 70%;
     }

     .header {
         font-size: 2em;
     }

     .para {
         font-size: 1.2em;
         width: 90vw;
     }

     .btn button {
         width: 60%;
         padding: 12px;
         font-size: 0.75em;
     }

     .section {
         max-width: 90vw;
         margin: auto;
     }

     .downloadheader {
         column-gap: 10px;
     }

     .logo {
         height: 55px;
         width: 55px;
     }

     .title {
         font-size: 1.4em;
     }

     .version-info {
         display: block;
         font-size: 0.55em;
         margin-top: 3px;
     }

 }